<%- include('../template/head')-%>
    <%- include('../template/nav')-%>

        <body>
            <div class="d-flex flex-row justify-content-center py-3">
                <a href="/inventory" class="btn btn-light" role="button">View Inventory</a>
            </div>
            <div class="d-flex flex-row justify-content-center py-3">
                <a href="/additems" class="btn btn-light px-3" role="button">Add Items</a>
                <a href="/addconsignors" class="btn btn-light px-3" role="button">Add Consignors</a>
                <a href="/addauctions" class="btn btn-light px-3" role="button">Add Auctions</a>
            </div>
        </body>

        <%- include('../template/footer')-%>

            </html>