<%- include('../template/head')-%>
<%- include('../template/nav')-%>


    <body>
        <h2>Blog Post App</h2>

        <div class="d-flex flex-row justify-content-center py-3">
        <a href="#link" class="btn btn-light" role="button">View Inventory</a>
    </div>

        <div class="d-flex flex-row justify-content-center py-3">
        <a href="http://localhost:3000/additems" class="btn btn-light" role="button">Add Items</a>
        <a href="http://localhost:3000/addconsignors" class="btn btn-light" role="button">Add Consignors</a>
        <a href="http://localhost:3000/addauctions" class="btn btn-light" role="button">Add Auctions</a>
    </div>


        <script src="/js/script.js" async defer></script>
    </body>

    <%- include('../template/footer')-%>

    </html>