<footer class="sticky-bottom">
  <!-- Copyright -->
  <!-- <div class="text-center p-4 fixed-bottom" style="background-color: rgba(0, 0, 0, 0.05);"> -->
  <div class="text-center p-4 fixed-bottom bg-light ">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://github.com/5hakazulu/FullStackProjects">Jeremy and Josh </a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
<!-- <script src="/js/script.js" async defer></script> -->